@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');

$navColor:#272B31;
$navTextColor:#9A9B9D;
$subNavBg:#11CAF0;
$sitebg:#272B31;
$formbg:#32383E;

.borderTop{
    border-top:.1px solid #4F5458 
}

body{
    background-color:#272B31 !important;
    color:$navTextColor !important;

    nav{
        background-color: $navColor;
        span{
            font-family:'Xanh Mono', monospace;
        }
        .nav-link{
            color:$navTextColor;
            &:hover{
                color:rgba(255, 255, 255, 0.8);
            }
        }
        .navbar-nav .nav-link.active{
            color:#fff;
        }
        .dropdown-item.active{
          background-color:$subNavBg ;
        }
        .loginlink{
            color:$navTextColor;
            &:hover{
                color:rgba(255, 255, 255, 0.8);
            }
        }
        .BtnWidth{
            width:100%;
        }
    }

    .form{
        background-color: $formbg;
        color:#A9AAAA;
        .form-control{
            background-color: #1C1E22;
            color:#fff;
            border:none;
            padding:.5rem .9rem;
        }
        .login .form-control{
            background-color: #fff;
            color:$navColor
        }
        button{
            background-color: #393F43;
            color:#fff;
            border:.5px solid #1C1E22;
            &:hover{
                background-color: #393F43;
            }
        }
    }
    

}

@media screen and (min-width:992px) {
  body{
    nav{
        .BtnWidth{
            width:auto;
        }
    }
    
  }
}
